p,h1,a,h2,h3,h4,h5,span {
  direction: rtl !important;
}

#page-title {
  order: 1 !important;
}

ul {
  text-align: right !important;
}

.nav-logo {
  height: 7rem !important;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}